/* Transition property */
.transition-all	{ transition-property: all; }
.transition	{ transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; }
.transition-colors	{ transition-property: background-color, border-color, color, fill, stroke; }
.transition-opacity	{ transition-property: opacity; }
.transition-shadow	{ transition-property: box-shadow; }
.transition-transform { transition-property: transform; }
.transition-none { transition-property: none; }

/* easing functions */
.ease-linear { transition-timing-function: linear; }
.ease-in { transition-timing-function: cubic-bezier(0.4, 0, 1, 1); }
.ease-out { transition-timing-function: cubic-bezier(0, 0, 0.2, 1); }
.ease-in-out { transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

/* Duration */
@each $k, $v in (75, 150, 200, 300, 500, 700, 1000, 1400), (75ms, 150ms, 200ms, 300ms, 500ms, 700ms, 1000ms, 1400ms) {
    .duration-$(k) { transition-duration: $v; }
}

/* Delay */
@each $k, $v in (75, 150, 200, 300, 500, 700, 1000), (75ms, 150ms, 200ms, 300ms, 500ms, 700ms, 1000ms) {
    .delay-$(k) { transition-delay: $v; }
}
